@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1,
h2,
h3 {
    @apply font-display;
}

.display::after {
    content: "";
    display: block;
    position: absoulte;
    width: 100%;
    left: 200px;
    height: 2px;
    @apply bg-purple-500;
}

a {
    @apply text-purple-500;
    cursor: pointer;
    transition: color 0.2s;
}
a:hover {
    @apply text-purple-300;
    transition: color 0.2s;
}

html {
    @apply text-white bg-black;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
    @apply bg-gray-800;
}
